# Maven
target/
settings.xml

# Eclipse
.project
.factorypath
.settings
.classpath
/eclipse-target
bin

# IntelliJ
*.iml
.idea

# Netbeans
nb-configuration.xml
nbactions*

# DB test file
indy-repository-manager/derby.log
indy-repository-manager/indexedStorePath
indy-repository-manager/org.commonjava.indy.folo.model.TrackedContentEntry

# From formatter-maven-plugin
.cache

# Mac
.DS_Store
