<span ng-switch on="status">
  <img ng-switch-when="BUILDING" tooltip="BUILDING" src='images/blue_anime.gif'>
  <img ng-switch-when="SUCCESS" tooltip="SUCCESS" src='images/success_small.png'>
  <img ng-switch-when="UNSTABLE" tooltip="UNSTABLE" src='images/red_small.png'>
  <img ng-switch-when="FAILED" tooltip="FAILED" src='images/red_small.png'>
  <img ng-switch-when="ABORTED" tooltip="ABORTED" src='images/aborted_small.png'>
  <img ng-switch-when="CANCELLED" tooltip="CANCELLED" src='images/aborted_small.png'>
  <img ng-switch-default tooltip="UNKNOWN" src='images/unknown_small.png'>
</span>
