<div>
  <pnc-header>
    <pnc-header-title>Build Progress</pnc-header-title>
  </pnc-header>

  <pnc-header>
    <pnc-header-title>
      <small>Running builds</small>
    </pnc-header-title>
  </pnc-header>

  <p ng-hide="runningRecords.length">
    No running builds.
  </p>

  <table ng-hide="!runningRecords.length" class="table table-bordered table-striped table-hover">
    <tbody>
    <th>ID</th>
    <th>Start time</th>
    <th>Status</th>
    <tr ng-repeat="record in runningRecords">

      <td><a href ui-sref="record.detail.info({recordId: record.id})"> # {{ record.id }}</a></td>
      <td>{{ record.startTime | date:'medium'}}</td>
      <td>
            <span ng-switch on="record.status">
              <img ng-switch-when="BUILDING" alt="BUILDING" src='images/blue_anime.gif'>
              <img ng-switch-when="SUCCESS" alt="SUCCESS" src='images/success_small.png'>
              <img ng-switch-when="UNSTABLE" alt="UNSTABLE" src='images/red_small.png'>
              <img ng-switch-when="FAILED" alt="FAILED" src='images/red_small.png'>
              <img ng-switch-when="ABORTED" alt="ABORTED" src='images/aborted_small.png'>
              <img ng-switch-when="CANCELLED" alt="CANCELLED" src='images/aborted_small.png'>
              <img ng-switch-default alt="UNKNOWN" src='images/unknown_small.png'>
            </span>
        {{ record.status }}
      </td>
    </tr>
    </tbody>
  </table>

  <pnc-header>
    <pnc-header-title>
      <small>Finished builds</small>
    </pnc-header-title>
  </pnc-header>

  <p ng-hide="finishedRecords.length">
    No finished builds.
  </p>

  <table ng-hide="!finishedRecords.length" class="table table-bordered table-striped table-hover">
    <tbody>
    <th>ID</th>
    <th>Start time</th>
    <th>Status</th>
    <tr ng-repeat="record in finishedRecords">
      <td><a href ui-sref="record.detail.info({recordId: record.id})"> # {{ record.id }}</a></td>
      <td>{{ record.startTime | date:'medium'}}</td>
      <td>
            <span ng-switch on="record.status">
              <img ng-switch-when="BUILDING" alt="BUILDING" src='images/blue_anime.gif'>
              <img ng-switch-when="SUCCESS" alt="SUCCESS" src='images/success_small.png'>
              <img ng-switch-when="UNSTABLE" alt="UNSTABLE" src='images/red_small.png'>
              <img ng-switch-when="FAILED" alt="FAILED" src='images/red_small.png'>
              <img ng-switch-when="ABORTED" alt="ABORTED" src='images/aborted_small.png'>
              <img ng-switch-when="CANCELLED" alt="CANCELLED" src='images/aborted_small.png'>
              <img ng-switch-default alt="UNKNOWN" src='images/unknown_small.png'>
            </span>
        {{ record.status }}
      </td>
    </tr>
    </tbody>
  </table>

</div>
