<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
         <span ng-switch on="recordCtrl.record.status">
            <img ng-switch-when="BUILDING" alt="BUILDING" src='images/blue_anime.gif'>
            <img ng-switch-when="SUCCESS" alt="SUCCESS" src='images/success_small.png'>
            <img ng-switch-when="UNSTABLE" alt="UNSTABLE" src='images/red_small.png'>
            <img ng-switch-when="FAILED" alt="FAILED" src='images/red_small.png'>
            <img ng-switch-when="ABORTED" alt="ABORTED" src='images/aborted_small.png'>
            <img ng-switch-when="CANCELLED" alt="CANCELLED" src='images/aborted_small.png'>
            <img ng-switch-default alt="UNKNOWN" src='images/unknown_small.png'>
         </span>
         # {{ recordCtrl.record.id }} &mdash; {{ recordCtrl.configuration.name }} {{ recordCtrl.record.startTime | date:'medium'}}
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs push-down">
      <li role="presentation" ui-sref-active="active"><a href ui-sref="record.detail.info">Build Info</a></li>
      <li role="presentation" ui-sref-active="active"><a href ui-sref="record.detail.result">Build Result</a></li>
      <li role="presentation" ui-sref-active="active"><a href ui-sref="record.detail.output">Build Output</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12" ui-view>
  </div>
</div>
