<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <build-status-icon status="ctrl.csRecordDetail.status"></build-status-icon>
        # {{ ctrl.csRecordDetail.id }} &mdash; {{ ctrl.csRecordDetail.getConfigurationSet().name }} &mdash; {{ ctrl.csRecordDetail.startTime |
        date:'medium'}}
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <p>
        <a role="button" ng-click="ctrl.reload()" href>
          <i class="pficon pficon-refresh"></i> Reload
        </a>
      </p>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs push-down">
<li role="presentation" ui-sref-active="active"><a href ui-sref="configuration-set-record.detail.info">Build Info</a></li>
<li role="presentation" ui-sref-active="active"><a href ui-sref="configuration-set-record.detail.result">Build Result</a></li>
<li role="presentation" ui-sref-active="active"><a href ui-sref="configuration-set-record.detail.output">Build Output</a></li>
</ul>
</div>
</div>
<div class="row">
  <div class="col-md-12" ui-view></div>
</div>
