<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <h1>Configuration Set Details</h1>
      </div>
      <div class="col-md-6">
        <span class="btn-group pull-right h1" role="group" aria-label="Action Toolbar">
          <button type="button" class="btn btn-lg btn-default disabled" data-toggle="tooltip" title="Edit Configuration Set"><i class="pficon pficon-edit"></i> Edit</button>
          <button type="button" class="btn btn-lg btn-danger disabled" data-toggle="tooltip" title="Delete Configuration Set"><i class="pficon pficon-delete"></i> Delete</button>
        </span>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form editable-form class="form-horizontal">

          <div class="form-group">
            <label for="input-name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <p id="input-name" e-class="form-control" editable-text="configurationSet.name" e-name="name" e-required>{{ configurationSet.name || 'Empty' }}</p>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
