<style>
  .editable-wrap {
    width: 100%;
  }
</style>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-6">
        <h1>Build Configuration Details</h1>
      </div>
      <div class="col-md-6">
        <span class="btn-group pull-right" style="margin-top: 2rem;" role="group" aria-label="Action Toolbar">
          <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Start Build" ng-click="configControls.build()"><i class="fa fa-play"></i> Build</button>
          <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Clone Configuration" ng-click="configControls.clone()"><i class="fa fa-files-o"></i> Clone</button>
          <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Edit Configuration" ng-click="configurationForm.$show()" ng-class="{ 'active': configurationForm.$visible }"><i class="pficon pficon-edit"></i> Edit</button>
          <button type="button" class="btn btn-lg btn-danger" data-toggle="tooltip" title="Delete Configuration" pnc-confirm-click="configControls.delete()" pnc-confirm-message="{{ 'Confirm the deletion of Build Configuration: ' + buildConfig.name + ' ?'}}"><i class="pficon pficon-delete"></i> Delete</button>
        </span>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form editable-form class="form-horizontal" name="configurationForm" onbeforesave="configControls.update()">

          <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <p id="input-name" class="form-control-static" e-class="form-control" editable-text="buildConfig.name" e-name="name" e-required>{{ buildConfig.name || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="static-project" class="col-sm-2 control-label">Project</label>
            <div class="col-sm-10">
              <p id="static-project" class="form-control-static">{{ project.name || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="static-description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <p id="input-description" class="form-control-static" e-class="form-control" editable-textarea="buildConfig.description" e-name="description">{{ buildConfig.description || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="input-scm-repo-url" class="col-sm-2 control-label">SCM Url</label>
            <div class="col-sm-10">
              <p id="input-scm-repo-url" class="form-control-static" e-class="form-control" editable-text="buildConfig.scmRepoURL" e-name="scmRepoURL">{{ buildConfig.scmRepoURL || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="input-scm-revision" class="col-sm-2 control-label">SCM Revision</label>
            <div class="col-sm-10">
              <p id="input-scm-revision" class="form-control-static" e-class="form-control" editable-text="buildConfig.scmRevision" e-name="scmRevision">{{ buildConfig.scmRevision || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="input-patches-url" class="col-sm-2 control-label">Patches Url</label>
            <div class="col-sm-10">
              <p id="input-patches-url" class="form-control-static" e-class="form-control" editable-text="buildConfig.patchesUrl" e-name="patchesUrl">{{ buildConfig.patchesUrl || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="input-build-script" class="col-sm-2 control-label">Build Script</label>
            <div class="col-sm-10">
              <pre id="input-build-script" e-class="form-control" editable-textarea="buildConfig.buildScript" e-name="buildScript">{{ buildConfig.buildScript || 'Empty' }}</pre>
            </div>
          </div>

          <div class="form-group">
            <label for="static-created" class="col-sm-2 control-label">Created</label>
            <div class="col-sm-10">
              <p id="static-created" class="form-control-static">{{ buildConfig.creationTime | date:'medium'}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="static-modified" class="col-sm-2 control-label">Modified</label>
            <div class="col-sm-10">
              <p id="static-modified" class="form-control-static">{{ buildConfig.lastModificationTime | date:'medium'}}</p>
            </div>
          </div>

          <!--<div class="form-group">
            <label for="input-repositories" class="col-sm-2 control-label">Repositories</label>
            <div class="col-sm-10">
              <p id="input-repositories" class="form-control-static" e-class="form-control" editable-text="buildConfig.repositories" e-name="repositories">{{ buildConfig.repositories || 'Empty' }}</p>
            </div>
          </div>-->

          <div class="form-group">
            <label for="static-environment" class="col-sm-2 control-label">Environment</label>
            <div class="col-sm-10">
              <p id="static-environment" class="form-control-static">{{ environment.buildType || 'Empty' }} - {{ environment.operationalSystem || 'Empty' }}</p>
            </div>
          </div>

          <div class="form-group" ng-show="configurationForm.$visible">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" ng-disabled="configurationForm.$waiting">
                Save
              </button>
              <button type="button" class="btn btn-default" ng-disabled="configurationForm.$waiting" ng-click="configurationForm.$cancel()">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
