<div class="card col-md-2" ng-if="shouldShow()">
  <div class="card-filter">
  <input type="text" class="form-control input-sm" placeholder="filter">
  </div>
  <div class="card-internal">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>{{ pncTitle }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in pncItems" ng-class="{'active': isActive(item)}" ng-click="pncClick()(item)">
        <td>{{ item[pncNameField] || 'Unamed ' + pncTitle }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
