<div class="col-md-12">
  <h1>Products</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody style="cursor: pointer;">
        <tr ng-repeat="product in products" ng-click="columnBrowse.products.click(product)">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

