<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <h1>Project Details</h1>
      </div>
      <div class="col-md-6">
        <span class="btn-group pull-right" style="margin-top: 2rem;" role="group" aria-label="Action Toolbar">
          <button type="button" class="btn btn-lg btn-default disabled" data-toggle="tooltip" title="Edit Project"><i class="pficon pficon-edit"></i> Edit</button>
          <button type="button" class="btn btn-lg btn-danger disabled" data-toggle="tooltip" title="Delete Project"><i class="pficon pficon-delete"></i> Delete</button>
        </span>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form editable-form class="form-horizontal">

          <div class="form-group">
            <label for="input-name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <p id="input-name" e-class="form-control" editable-text="project.name" e-name="name" e-required>{{ project.name || 'Empty' }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="static-description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <p id="static-description" class="form-control-static">{{ project.description || 'Empty' }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="input-url" class="col-sm-3 control-label">URL</label>
            <div class="col-sm-9">
              <p id="input-url" e-class="form-control" editable-text="project.projectUrl" e-name="projectUrl" e-required>{{ project.projectUrl || 'Empty' }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="input-issue-tracker" class="col-sm-3 control-label">Issue tracker</label>
            <div class="col-sm-9">
              <p id="input-issue-tracker" e-class="form-control" editable-text="project.issueTrackerUrl" e-name="issueTrackerUrl" e-required>{{ project.issueTrackerUrl || 'Empty' }}</p>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
