<div class="row">
  <div class="col-md-5">
    <h1>{{ project.name }}</h1>
  </div>
  <div class="col-md-3">
    <span class="btn-group pull-right" style="margin-top: 2rem;" role="group" aria-label="Action Toolbar">
      <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Edit Project"><i class="pficon pficon-edit"></i> Edit</button>
      <button type="button" class="btn btn-lg btn-danger" data-toggle="tooltip" title="Delete Project"><i class="pficon pficon-delete"></i> Delete</button>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>{{ project.description }}</p>
    <p>{{ project.issueTrackerUrl }}</p>
    <p>{{ project.projectUrl }}</p>
  </div>
</div>
