<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ recordCtrl.project.name }} &mdash; {{ recordCtrl.configuration.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" style="margin-top: 3rem;">
          <li role="presentation" ui-sref-active="active"><a href ui-sref="build-config.record.detail.info">Build Info</a></li>
          <li role="presentation" ui-sref-active="active"><a href ui-sref="build-config.record.detail.result">Build Result</a></li>
          <li role="presentation" ui-sref-active="active"><a href ui-sref="build-config.record.detail.output">Build Output</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ui-view>
      </div>
    </div>
  </div>
</div>

