<div>
  <pnc-header>
    <pnc-header-title>Projects</pnc-header-title>
    <pnc-header-buttons>
      <button type="button" class="btn btn-lg btn-default disabled" data-toggle="tooltip" title="Create Project">
        <i class="pficon pficon-add"></i> Create
      </button>
    </pnc-header-buttons>
  </pnc-header>

  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
    </thead>
    <tbody>

      <tr ng-repeat="project in listCtrl.projects">
        <td><a href ui-sref="project.detail({ projectId: project.id })">{{ project.name }}</a></td>
        <td>{{ project.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
