<?xml version="1.0" encoding="UTF-8"?>
<!--

    SPDX-FileCopyrightText: Copyright © 2014 Red Hat, Inc., and individual contributors as indicated by the @author tags.
    SPDX-License-Identifier: Apache-2.0

-->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} ctx:%mdc - %msg%n
      </Pattern>
    </layout>
  </appender>

  <logger name="org.jboss.pnc" level="debug" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.testcontainers" level="DEBUG"/>
  <!-- The following logger can be used for containers logs since 1.18.0 -->
  <logger name="tc" level="DEBUG"/>
  <logger name="com.github.dockerjava" level="WARN"/>
  <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
  <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
  <logger name="org.eclipse" level="INFO"/>
  <logger name="org.apache" level="INFO"/>
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
