<pnc-header>
  <pnc-header-title>
    <small>Milestones</small>
  </pnc-header-title>
  <pnc-header-buttons>
    <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Create Milestone"
            ui-sref="product.version.milestone.create">
      <i class="pficon pficon-add"></i> Create
    </button>
  </pnc-header-buttons>
</pnc-header>
<table class="table table-bordered table-striped">
  <thead>
  <th>Name</th>
  <th>Starting date</th>
  <th>Planned release date</th>
  <th>Release date</th>
  <th>Deliverables</th>
  <th>Build Record Set</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr ng-repeat="productmilestone in versionCtrl.productmilestones">
    <td>
            <span class="label label-default"
                  ng-class="{ 'label label-primary' : productmilestone.id == versionCtrl.version.currentProductMilestoneId }">{{ productmilestone.version }}</span>
    </td>
    <td>{{ productmilestone.startingDate | date:'yyyy/MM/dd'}}</td>
    <td>{{ productmilestone.plannedReleaseDate | date:'yyyy/MM/dd'}}</td>
    <td>{{ productmilestone.releaseDate | date:'yyyy/MM/dd'}}</td>
    <td class="text-center">
      <a ng-show="productmilestone.downloadUrl != undefined" ng-href="{{ productmilestone.downloadUrl }}"
         target="_self"
         class="btn btn-default" title="Download Deliverables">
        <i class="glyphicon glyphicon-download-alt"></i>
      </a>
    </td>
    <td>{{ productmilestone.buildRecordSetId }}</td>
    <td class="text-center">
      <a ng-show="productmilestone.releaseDate == undefined"
         pnc-confirm-click="versionCtrl.markCurrentMilestone(productmilestone)"
         pnc-confirm-message="{{ 'Mark Milestone ' + productmilestone.version + ' as current ?'}}"
         title="Mark Milestone as current" class="btn btn-default"><i class="fa fa-clock-o"></i></a>
      <a ng-show="productmilestone.releaseDate == undefined"
         ui-sref="product.version.milestone.update({ milestoneId: productmilestone.id })" title="Update Milestone"
         class="btn btn-default"><i class="pficon pficon-edit"></i></a>
      <a ng-show="productmilestone.releaseDate == undefined"
         ui-sref="product.version.milestone.close({ milestoneId: productmilestone.id })" title="Release Milestone"
         class="btn btn-default"><i class="fa fa-lock"></i></a>
      <a ng-show="productmilestone.releaseDate != undefined"
         pnc-confirm-click="versionCtrl.unreleaseMilestone(productmilestone)"
         pnc-confirm-message="{{ 'Confirm the unrelease of Milestone: ' + productmilestone.version + ' ?'}}"
         title="Unrelease Milestone" class="btn btn-default"><i class="fa fa-unlock-alt"></i></a>
    </td>
  </tr>
  </tbody>
</table>
