<pnc-header>
  <pnc-header-title>
    <small>Build Configuration Sets</small>
  </pnc-header-title>
  <pnc-header-buttons>
    <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip"
            title="Create Build Configuration Set" ui-sref="configuration-set.create">
      <i class="pficon pficon-add"></i> Create
    </button>
  </pnc-header-buttons>
</pnc-header>

<input ng-model="searchBCSText" placeholder="filter buildconfigsets...">
<table class="table table-bordered table-striped">
  <thead>
  <th>Name</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr ng-repeat="buildconfigurationset in versionCtrl.buildconfigurationsets | filter:searchBCSText">
    <td><a href ui-sref="configuration-set.detail({ configurationSetId: buildconfigurationset.id })">{{
      buildconfigurationset.name }}</a></td>
    <td class="table-data-5-column-even-width">
      <button type="button" class="btn btn-sm btn-default" data-toggle="tooltip" title="Start Build"
              ng-click="versionCtrl.buildConfigSet(buildconfigurationset)">
        <i class="fa fa-play"></i> Build
      </button>
    </td>
  </tr>
  </tbody>
</table>
