<!--
Provides a template for a responsive two column view:
  - A sidebar on the left (ui-view name: sidebar)
  - A main content area (ui-view name: main)

When placed inside a <div class="fluid-container"> the sidebar
will collapse beneath the main content if the screen gets too narrow.
-->
<div class="row">
  <!-- main -->
  <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <div class="row">
      <div class="col-md-12" ui-view="main">
      </div>
    </div>
  </div> <!-- / main -->
  <!-- leftsidebar -->
  <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
    <div class="row">
      <div class="col-md-12" ui-vew="sidebar">
      </div>
    </div>
  </div> <!-- /leftsidebar -->
</div>
