<!--
Provides a template for a responsive two column view:
  - A main content area (default ui-view)
  - A sidebar on the right (ui-view name: sidebar)

When placed inside a <div class="fluid-container"> the sidebar
will collapse beneath the main content if the screen gets too narrow.
-->
<div class="row">
  <div class="col-sm-8 col-md-9">
    <div class="row">
      <div class="col-md-12" ui-view>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right full-height">
    <div class="row">
      <div class="col-md-12" ui-view="sidebar">
      </div>
    </div>
  </div>
</div>
