<div>
  <pnc-header>
    <pnc-header-title>Build Configurations</pnc-header-title>
    <pnc-header-buttons>
      <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Create Configuration" ui-sref="configuration.create">
        <i class="pficon pficon-add"></i> Create
      </button>
    </pnc-header-buttons>
  </pnc-header>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Project</th>
      <th>SCM Repository</th>
      <th>SCM Revision</th>
      <th>Created</th>
      <th>Modified</th>
      <th>User</th>
    </thead>
    <tbody>
      <tr ng-repeat="configuration in listCtrl.configurations">
        <td>
          <a ui-sref="configuration.detail.show({configurationId: configuration.id})" href>
            {{ configuration.name }}
          </a>
        </td>
        <td>{{ configuration.description }}</td>
        <td>{{ configuration.projectId }}</td>
        <td>{{ configuration.scmRepoURL }}</td>
        <td>{{ configuration.scmRevision }}</td>
        <td>{{ configuration.creationTime | date:'medium'}}</td>
        <td>{{ configuration.lastModificationTime | date:'medium'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
