<div>
  <pnc-header>
    <pnc-header-title>{{ versionCtrl.version.version || 'Empty' }}</pnc-header-title>
    <pnc-header-buttons>

      <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Edit Produc Versiont" ng-click="productVersionForm.$show()" ng-class="{ 'active': productVersionForm.$visible }"><i class="pficon pficon-edit"></i> Edit
      </button>
      <button type="button" class="btn btn-lg btn-danger disabled" data-toggle="tooltip" title="Delete Version">
        <i class="pficon pficon-delete"></i> Delete
      </button>
    </pnc-header-buttons>
  </pnc-header>

  <form editable-form class="form-horizontal" name="productVersionForm" onbeforesave="versionCtrl.update()">
    <div class="form-group">
      <label for="input-version" class="col-sm-1 control-label">Version</label>
      <div class="col-sm-11">
        <p id="input-version" e-class="form-control" editable-text="versionCtrl.version.version" e-name="version" e-required>{{ versionCtrl.version.version || 'Empty' }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="input-name" class="col-sm-1 control-label">Product Name</label>
      <div class="col-sm-11">
        <a id="input-name" href ui-sref="product.detail({ productId: versionCtrl.product.id})">
          {{ versionCtrl.product.name || 'Empty' }}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="static-description" class="col-sm-1 control-label">Product Description</label>
      <div class="col-sm-11">
        <p id="static-description" class="form-control-static">{{ versionCtrl.product.description || 'Empty' }}</p>
      </div>
    </div>

    <div class="form-group" ng-show="productVersionForm.$visible">
      <div class="col-sm-offset-1 col-sm-11">
        <button type="submit" class="btn btn-primary" ng-disabled="productVersionForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="productVersionForm.$waiting" ng-click="productVersionForm.$cancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-sm-push-6 col-md-push-6">
      <div class="row">
        <div class="col-md-12" ui-view>
            <pnc-header>
              <pnc-header-title><small>Releases</small></pnc-header-title>
              <pnc-header-buttons>
                <button type="button" class="btn btn-lg btn-default disabled" data-toggle="tooltip" title="Create Release" ui-sref="configuration-set.create">
                    <i class="pficon pficon-add"></i> Create
                </button>
              </pnc-header-buttons>
            </pnc-header>
            <table class="table table-bordered table-striped">
              <thead>
                <th>Name</th>
                <th>Release date</th>
                <th>Deliverables</th>
                <th>Info</th>
                <th>Support Level</th>
              </thead>
              <tbody>
                <tr ng-repeat="productrelease in versionCtrl.productreleases">
                  <td>{{ productrelease.version }}</td>
                  <td>{{ productrelease.releaseDate | date:'medium'}}</td>
                  <td class="text-center"><a ng-href="{{ productrelease.downloadUrl }}" target="_self" class="btn btn-primary">Download</a></td>
                  <td>Released from Milestone {{ productrelease.productMilestoneId }}</td>
                  <td>{{ productrelease.supportLevel }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-sm-pull-6 col-md-pull-6">
      <div class="row">
        <div class="col-md-12" ui-view="sidebar">
          <pnc-header>
            <pnc-header-title><small>Milestones</small></pnc-header-title>
              <pnc-header-buttons>
                <button type="button" class="btn btn-lg btn-default disabled" data-toggle="tooltip" title="Create Milestone" ui-sref="configuration-set.create">
                    <i class="pficon pficon-add"></i> Create
                </button>
              </pnc-header-buttons>
            </pnc-header>
            <table class="table table-bordered table-striped">
              <thead>
                <th>Name</th>
                <th>Starting date</th>
                <th>Planned ending date</th>
                <th>Release date</th>
                <th>Deliverables</th>
                <th>Build Record Set</th>
              </thead>
              <tbody>
                <tr ng-repeat="productmilestone in versionCtrl.productmilestones">
                  <td>{{ productmilestone.version }}</td>
                  <td>{{ productmilestone.startingDate }}</td>
                  <td>{{ productmilestone.plannedEndingDate }}</td>
                  <td>{{ productmilestone.releaseDate | date:'medium'}}</td>
                  <td class="text-center"><a ng-href="{{ productmilestone.downloadUrl }}" target="_self" class="btn btn-primary">Download</a></td>
                  <td>{{ productmilestone.buildRecordSetId }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <pnc-header>
    <pnc-header-title><small>Build Configuration Sets</small></pnc-header-title>
    <pnc-header-buttons>
      <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Create Build Configuration Set" ui-sref="configuration-set.create">
          <i class="pficon pficon-add"></i> Create
      </button>
    </pnc-header-buttons>
  </pnc-header>

  <input ng-model="searchText" placeholder="filter buildconfigsets...">
  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
    </thead>
    <tbody>
      <tr ng-repeat="buildconfigurationset in versionCtrl.buildconfigurationsets | filter:searchText">
        <td><a href ui-sref="configuration-set.detail({ configurationSetId: buildconfigurationset.id })">{{ buildconfigurationset.name }}</a></td>
      </tr>
    </tbody>
  </table>

</div>

