<div>
  <pnc-header>
    <pnc-header-title>Build Configuration Sets</pnc-header-title>
    <pnc-header-buttons>
      <button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" title="Create Configuration" ui-sref="configuration.create">
        <i class="pficon pficon-add"></i> Create
      </button>
    </pnc-header-buttons>
  </pnc-header>

  <input ng-model="searchText" placeholder="filter buildconfigsets...">
  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
    </thead>
    <tbody>
      <tr ng-repeat="buildconfigurationset in setlistCtrl.buildconfigurationsets | filter:searchText">
        <td><a href ui-sref="configuration-set.detail({ configurationSetId: buildconfigurationset.id })">{{ buildconfigurationset.name }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
