<!--

    SPDX-FileCopyrightText: Copyright © 2014 Red Hat, Inc., and individual contributors as indicated by the @author tags.
    SPDX-License-Identifier: Apache-2.0

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

    <module-name>rest</module-name>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>FilesystemCredentialsRealm</realm-name>
    </login-config>

    <security-role>
        <role-name>pnc-app-build-delete</role-name>
    </security-role>
    <security-role>
        <role-name>pnc-app-build-user</role-name>
    </security-role>
    <security-role>
        <role-name>pnc-app-artifact-user</role-name>
    </security-role>
    <security-role>
        <role-name>pnc-app-environment-user</role-name>
    </security-role>
    <security-role>
        <role-name>pnc-users-admin</role-name>
    </security-role>
    <security-role>
        <role-name>pnc-app-attachment-user</role-name>
    </security-role>
</web-app>
