<!--

    JBoss, Home of Professional Open Source.
    Copyright 2014-2020 Red Hat, Inc., and individual contributors
    as indicated by the @author tags.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

    <module-name>rest</module-name>

    <!-- Allow logged users to access debug data -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Authorized users access to debug data</web-resource-name>
            <url-pattern>/v2/builds/ssh-credentials/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Allow all users to access the GET endpoints -->
    <security-constraint>
       <web-resource-collection>
         <web-resource-name>All Access for users on GET</web-resource-name>
         <url-pattern>/v2/*</url-pattern>
         <http-method>GET</http-method>
         <http-method>OPTIONS</http-method>
       </web-resource-collection>
    </security-constraint>

    <!-- Allow all logged users to access the other endpoints -->
    <security-constraint>
       <web-resource-collection>
         <web-resource-name>Authorized users Access</web-resource-name>
         <url-pattern>/v2/*</url-pattern>
         <http-method>DELETE</http-method>
         <http-method>PUT</http-method>
         <http-method>HEAD</http-method>
         <http-method>TRACE</http-method>
         <http-method>POST</http-method>
       </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ApplicationRealm</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>system-user</role-name>
    </security-role>
</web-app>
