<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

    <module-name>pnc-web</module-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>pnc-web</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>pnc-admin</role-name>
            <role-name>pnc-user</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>this is ignored currently</realm-name>
    </login-config>

    <security-role>
        <role-name>pnc-admin</role-name>
    </security-role>
    <security-role>
        <role-name>pnc-user</role-name>
    </security-role>
</web-app>
