<?xml version="1.0"?>
<!--

    SPDX-FileCopyrightText: Copyright © 2014 Red Hat, Inc., and individual contributors as indicated by the @author tags.
    SPDX-License-Identifier: Apache-2.0

-->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="annotated">
    <alternatives>
        <class>org.jboss.pnc.remotecoordinator.test.mock.MockBuildScheduler</class>
        <class>org.jboss.pnc.remotecoordinator.test.mock.RexHttpClientMock</class>
        <class>org.jboss.pnc.remotecoordinator.test.mock.RexQueueHttpClientMock</class>
        <class>org.jboss.pnc.remotecoordinator.test.mock.UserRepositoryMock</class>
        <class>org.jboss.pnc.remotecoordinator.test.mock.GenericSettingsRepositoryMock</class>
        <class>org.jboss.pnc.remotecoordinator.builder.BifrostLogUploaderMock</class>
    </alternatives>
</beans>
