<div>
  <div class="page-header">
    <h1>Create release for {{ releaseCreateCtrl.product.name }} {{ releaseCreateCtrl.productVersion.version }}</h1>
  </div>

  <form class="form-horizontal" name="releaseForm" ng-submit="releaseCreateCtrl.submit()">

    <div class="form-group" ng-class="validation.version.any ? 'has-error' : ''">
      <label for="input-version" class="col-sm-2 control-label">
        Version <span class="pficon pficon-info" title="Release part of the product version, e.g. '0.GA' for product version '1.0'."></span>
      </label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon">{{ releaseCreateCtrl.productVersion.version }}.</span>
          <input id="input-version" class="form-control" name="version" ng-model="releaseCreateCtrl.data.version">
        </div>
        <span class="help-block" ng-show="validation.version.required">Required field.</span>
        <span class="help-block" ng-show="validation.version.format">Version must start with a number.</span>
      </div>
    </div>

    <div class="form-group" ng-class="validation.releaseDate.any ? 'has-error' : ''">
      <label for="input-end-date" class="col-sm-2 control-label">
        Release date <span class="pficon pficon-info" title="Release date, e.g. '2035/01/15', time is set to noon UTC."></span>
      </label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event, 1)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          <input id="input-end-date" type="text" class="form-control" datepicker-popup="{{format}}"
                 ng-model="releaseCreateCtrl.data.releaseDate" is-open="opened[1]" close-text="Close" placeholder="yyyy/mm/dd"/>
        </div>
        <span class="help-block" ng-show="validation.releaseDate.required">Required field.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="input-milestone" class="col-sm-2 control-label">From Milestone</label>
      <div class="col-sm-10">
        <select ng-model="releaseCreateCtrl.productMilestoneId" required>
          <option value=""></option>
          <option ng-repeat="milestone in releaseCreateCtrl.versionMilestones" value="{{ milestone.id }}">
            {{ milestone.version }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input-supportlevel" class="col-sm-2 control-label">Support Level</label>
      <div class="col-sm-10">
        <select ng-model="releaseCreateCtrl.data.supportLevel" required>
          <option value=""></option>
          <option ng-repeat="supportLevel in releaseCreateCtrl.supportLevels" value="{{ supportLevel }}">
            {{ supportLevel }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-class="validation.downloadUrl.any ? 'has-error' : ''">
      <label for="input-downloadurl" class="col-sm-2 control-label">
        Download URL <span class="pficon pficon-info" title="Download URL of the release"></span>
      </label>
      <div class="col-sm-10">
        <div class="input-group">
          <input id="input-downloadurl" class="form-control" name="downloadUrl" ng-model="releaseCreateCtrl.data.downloadUrl">
        </div>
        <span class="help-block" ng-show="validation.downloadUrl.required">Required field.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Create">
        <input type="reset" class="btn btn-default" value="Clear">
      </div>
    </div>
  </form>
</div>
