<div class="container-fluid">
  <div class="row">
    <div id="content" class="col-md-12">
      <h1>{{ title }}</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr> 
            <th ng-repeat="header in thead">{{ header }}</th>
            <th>Action</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in tbody">
            <th ng-repeat="property in properties">{{ item[property] }}</th>
            <th><a class="btn btn-default" ng-href="{{ href(item) }}">{{ action }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>